<div class="container">
  <h1>Grid Generator</h1>
    <div class="loginContainer">
        Enter the required blocks   <input type="text" [(ngModel)]="nofBlocks"><br><br>
        Enter no of blocks in a row <input type="text" [(ngModel)]="nofBlocksinRow"><br><br>
        <button
        (click)="pushData()"
        >Generate Grid
      </button>
    </div>
    
    <div class="gridContainer">
      <app-input-component
      [blockCount]="blockCount"
      [blocksPRow]="rowCount"
      >
        
      </app-input-component>
    </div>
  </div>