<div
style="border: 2px solid black; margin:0 auto;padding: 25px"
>
<div
class="mainContainer"
*ngFor="let val of ' '.repeat(blockCount/blocksPRow).split(''), let x = index"
>
  <div
  class="divElm"
  *ngFor="let val of ' '.repeat(blocksPRow).split('')"
  appClickMe
  >
  </div>
</div>
<div
  *ngIf="((blockCount % blocksPRow) !== 0)"
  class="mainContainer"
  >
    <div
    class="divElm"
    *ngFor="let val of ' '.repeat(blockCount % blocksPRow).split('')"
    appClickMe
    >

    </div>
  </div>
</div>