/* container for first div iterator */

.mainContainer {
    display: flex;
    height: auto;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    /* align-items: center; */
    justify-content: center;
}

/* div element styling */

.divElm{
    border: 10px solid black;
    width: 50px;
    height: 50px;   
    background-color:  #888;
    margin:10px 10px;
}



/* .secondDivElm{
    border: 10px solid black;
    width: 50px;
    height: 50px;   
    background-color:  #888;
    margin:0 auto;
} */

/* media queries */

@media(max-width: 500px){
    .divElm{
        border: 3px solid black;
        width: 30px;
        height: 30px;
        /* margin:0 auto; */
    }
}


@media(max-width: 340px){
    .divElm{
        border: 2px solid black;
        width: 20px;
        height: 20px;
        /* margin:0 auto; */
    }
}